In [ ]:
#Data prep

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 8.2 MB/s eta 0:00:00a 0:00:01
Downloading numpy-2.3.0-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 8.5 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.3.0 pandas-2.3.0 pytz-2025.2 tzdata-2025.2

In [4]:
import pandas as pd

# Load dataset
df = pd.read_csv('/Users/adithyaomsaidupally/Downloads/netflix_sample_500.csv')  # change filename if different

# 1.	How many rows and columns are there in the dataset?

In [7]:
df.shape

(500, 7)

## 2. Print the names of all the columns

In [12]:
df.columns.tolist()

['title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'duration']

## 3.	Display the first 5 and last 3 rows of the dataset.

In [13]:
df.head(5)

,title,director,cast,country,date_added,release_year,duration
0,"Game Over, Man!",Kyle Newacheck,"Adam DeVine, Anders Holm, Blake Anderson, Utka...",United States,"March 23, 2018",2018,102 min
1,Arsenio Hall: Smart & Classy,Brian Volk-Weiss,Arsenio Hall,United States,"October 29, 2019",2019,63 min
2,Kazoops!,NaN,"Reece Pockney, Scott Langley, Alex Babic, Gemm...",Australia,"May 5, 2017",2017,3 Seasons
3,We Are the Champions,NaN,NaN,United States,"November 17, 2020",2020,1 Season
4,"Pablo Escobar, el patrón del mal",NaN,"Andrés Parra, Angie Cepeda, Cecilia Navia, Vic...",Colombia,"February 3, 2021",2012,1 Season

In [14]:
df.tail(3)

,title,director,cast,country,date_added,release_year,duration
497,Korean Cold Noodle Rhapsody,NaN,Paik Jong-won,NaN,"August 20, 2021",2021,1 Season
498,Look for a Star,Andrew Lau Wai-Keung,"Andy Lau, Qi Shu, Zhang Hanyu, Denise Ho, Domi...",Hong Kong,"December 1, 2018",2009,117 min
499,40 Sticks,Victor Gatonye,"Robert Agengo, Mwaura Bilal, Andreo Kamau, Caj...",Kenya,"November 20, 2020",2019,93 min

## 4.	Select and display only the title and release_year columns.

In [15]:
df[['title', 'release_year']]

                                title  release_year
0                     Game Over, Man!          2018
1        Arsenio Hall: Smart & Classy          2019
2                            Kazoops!          2017
3                We Are the Champions          2020
4    Pablo Escobar, el patrón del mal          2012
..                                ...           ...
495       Sebastián Marcelo Wainraich          2018
496                      The Mistress          2012
497       Korean Cold Noodle Rhapsody          2021
498                   Look for a Star          2009
499                         40 Sticks          2019

[500 rows x 2 columns]

## 5.	Using iloc, show rows 10 to 20 (inclusive).

In [16]:
df.iloc[10:21]  # 21 is exclusive

,title,director,cast,country,date_added,release_year,duration
10,"Drugs, Inc.",NaN,Mike Secher,United States,"March 23, 2019",2015,1 Season
11,Den of Thieves,Christian Gudegast,"Gerard Butler, Pablo Schreiber, O'Shea Jackson...",United States,"May 1, 2020",2018,140 min
12,The President's Barber,Chan-sang Lim,"Kang-ho Song, So-ri Moon, Jae-eung Lee, Yeong-...",South Korea,"October 1, 2017",2004,116 min
13,The Dirt,Jeff Tremaine,"Douglas Booth, Iwan Rheon, Colson Baker, Danie...",United States,"March 22, 2019",2019,108 min
14,Brews Brothers,NaN,"Alan Aisenberg, Mike Castle, Carmen Flood, Mar...",United States,"April 10, 2020",2020,1 Season
15,Rodney Carrington: Here Comes the Truth,Brandon Jones,Rodney Carrington,United States,"October 3, 2017",2017,66 min
16,Planet Hulk,Sam Liu,"Rick D. Wasserman, Lisa Ann Beley, Mark Hildre...",United States,"June 1, 2020",2010,81 min
17,Tree Man,"Jon Reiner, Brad Rothschild",NaN,Canada,"November 1, 2016",2015,82 min
18,Ladies First,Uraaz Bahl,NaN,India,"March 8, 2018",2018,40 min
19,King Jack,Felix Thompson,"Charlie Plummer, Cory Nichols, Christian Madse...",United States,"July 1, 2016",2015,81 min
20,"I love you, stupid",Laura Mañá,"Quim Gutiérrez, Natalia Tena, Alfonso Bassave,...",Spain,"May 15, 2020",2019,88 min

## 6.	Check for missing values in each column.

In [18]:
df.isnull().sum()

title             0
director        164
cast             41
country          46
date_added        0
release_year      0
duration          0
dtype: int64

## 7.	Fill missing values in the country column with "Unknown" and in the director column with "Not Available"

In [20]:
# Fill missing values as per instructions
df['country'] = df['country'].fillna('Unknown')
df['director'] = df['director'].fillna('Not Available')

## 8.	Replace "United States" with "USA" in the country column.

In [21]:
df['country'] = df['country'].replace("United States", "USA")

## 9.	Create a new column content_type that contains "Movie" if duration contains "min" and "TV Show" if it contains "Season".

In [22]:
df['content_type'] = df['duration'].apply(
    lambda x: 'Movie' if 'min' in str(x) else ('TV Show' if 'Season' in str(x) else 'Unknown')
)

## 10.	Add a column years_since_release that shows how many years have passed since the release year (assuming current year is 2025).

In [23]:
df['years_since_release'] = 2025 - df['release_year']

## 11.	Group the dataset by release_year and count how many shows were released each year.

In [30]:
df.groupby('release_year').size()

release_year
1943     1
1954     1
1960     1
1962     1
1963     1
1969     1
1973     1
1976     1
1978     1
1979     2
1981     1
1982     1
1985     1
1986     2
1988     1
1990     1
1991     1
1992     1
1993     2
1994     1
1996     2
1998     3
1999     1
2001     2
2002     2
2003     2
2004     3
2005     1
2006     6
2007     8
2008     7
2009    14
2010    13
2011     8
2012    12
2013    20
2014    26
2015    29
2016    55
2017    57
2018    75
2019    47
2020    45
2021    39
dtype: int64

## 12.	Find how many unique countries are represented in the dataset.

In [27]:
df['country'].nunique()

99